{% extends 'recipient/base.html' %}
{% block content %}
<div class="row text-center">
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object.name }} ({{ object.email }})</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title pricing-card-title">
                   Описание: {{ object.description }}
                </h4>
            </div>
            <a href="{% url 'recipient:delete' object.pk %}" type="button"
                       class="btn btn-sm btn-block btn-outline-primary">удаление</a>
        </div>
    </div>
</div>
{% endblock %}